fastapi>=0.110.0
uvicorn[standard]>=0.28.0
python-dotenv
pydantic
pydantic[email]
supabase
passlib[bcrypt]
python-jose[cryptography]
langchain
langchain-core
langchain-groq
langchain-community
pypdf
faiss-cpu
python-multipart
httpx
