fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic[email]
supabase
passlib[bcrypt]
python-jose[cryptography]
langchain
langchain-core
langchain-groq
langchain-community
pypdf
faiss-cpu
sentence-transformers
python-multipart
httpx